/*PALETTE:
magenta purple #6D214F
fucsia #B33771
orchid orange #FEA47F

black #2C3A47
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*navbar*/
img {
    height: 2em;
}

img[alt="User_Image"] {
    width: 100%;
    height: 100%;
}

.magenta-color {
    background-color: #6D214F;
}

.btn-magenta {
    color: #6D214F;
    border-color: #6D214F;
}

button.btn-magenta:hover {
    color: white;
    background-color: #6D214F;
}

/*table*/
[scope = col] {
    color: #6D214F;
}

.link-style {
    color: #6D214F;
}